{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ],
    "transform-decorators-legacy"
  ],
  "presets": [
    "react-app",
    "flow"
  ]
}
